@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h1 style="text-align:center; color:aqua;">Gada Electronics</h1>
<h4> Created By: <b>Rajvir Chalthanwala</b> </h4>

<img class="majnu" src="/css/img_1.png">

<h2> Introduction: </h2>
<p>Gada Electroniocs was built in 2015, in India it was a small versatile company which was developing on short term 
    management. The Founder of this shop is <em>RV sons Pvt Ltd.</em>. It was basically on the base elvel and not globally declared.
    Once it got the accurate profit and then succedded towards the path of sucess!!. Our Company Sells every brand TV now with all types
    of size and diaplay clearity available </p>

<h2> Tony TV: </h2>
<p>The Name was inspired by one well know Tv SOAP serial whihc was very famous and on rock at that time 
    so I used that name to make it more interesting. Tony was the successfull TV maker company whihc was very famous in 1900's
    It was very special product given to me from which I decided to make 6 to 7 property name ans field which can make my web app 
    simple and attractive.</p>



<h2> HeadQuarters: </h2>
<p>Gada Electronics well renowened company which was a snmall outlet at first but after getting its success rate higher it got good markup sales and 
    good marketing strategies so after it many stakeholders demanded for the franchise which was very good note as per the market value.
    Many other compnay outlets were made after and the main headquarter was in Surat, "India" which was than established in NEW York, "USA" and London, "UK"</p>

<h2> Staff: </h2>
<p>In general as the company was startup based concept it was not having the proper popularity so it consist of 4 to 5 people but after it got successfull
    It was very demanding for local community to get an addmission in the Gada Electronics as the staff pormotions and the advantages were uncountable, because 
    of which it was very sensitive about the Monopoly whihc the company owed. As the stakeholders were partiall employees of the company as it is responsible 
    of many such people who are linked with this large company "Gada Electronics"</p>

