@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<h1 style="text-align:center; color:aqua;">Gada Electronics</h1>
<h4> Created By: <b>Rajvir Chalthanwala</b> </h4>

<img class="majnu" src="/css/img_1.png">

<h2> Introduction: </h2>
<p>Gada Electroniocs was built in 2015, in India it was a small versatile company which was developing on short term 
    management. The Founder of this shop is <em>RV sons Pvt Ltd.</em>. It was basically on the base elvel and not globally declared.
    Once it got the accurate profit and then succedded towards the path of sucess!!. Our Company Sells every brand TV now with all types
    of size and diaplay clearity available </p>

<h2>TV</h2>


