@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> <b>Welcome To Gada Electronics !</b></h1>
    <p>Created By: <b>Rajvir Chalthanwala</b></p>

    <h3> Some Coolest Pics from Shop !</h3>
    <img class="majnu" src="~/css/img_8.png">
    <img class="majnu" src="~/css/img_7.png">
    <img class="majnu" src="~/css/img_6.png">

    <p>Learn about Gada Electronics <a href="C:\Users\rajvi\source\repos\GadaElectronics\Views\Home\AboutUs.cshtml">here</a>.</p>
</div>
