@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> <b>Welcome To Gada Electronics !</b></h1>
    <p>Created By: <b>Rajvir Chalthanwala</b></p>

    <h3> Some Coolest Pics from Shop !</h3>
    <img class="majnu" src="~/css/img_8.png">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
